.kPxLUr svg{
    font-size: 16px;
}
.makeStyles-root-1{
    width: 100%;
    height: 55px;
    margin: 3px;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]{
    padding: 3px;
    padding-right: 62px;
    margin: 5px;
}
.MuiFormControl-fullWidth{
    width: 95%;
}